*.slo
*.lo
*.o

*.so
*.dylib

*.lai
*.la
*.a

\#*\#
.\#*

pofd_coverage*tar.gz

INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.sub
config.log
config.status
confscript.sh
libtool
src/.deps/
configure
depcomp
install-sh
ltmain.sh
autom4te.cache/
m4/
missing
doc/
